#search{
    display: none !important;
}
.body3{
    flex-direction: column;
}
.image2{
    width: 100vw !important;
    height: 100vh;
  }
  .body4child{
   justify-content: space-evenly;
   flex-direction: column;

  }
  .card