.body3{
    flex-direction: column;
}
.image2{
    width: 100vw !important;
    height: 100vh;
  }
  .cart{
  display: none !important;
  }
  .card1{
    display: flex;
    flex-direction: column;
    background-color: #08152b;
    align-items: center;
  }